<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google font Audiowide -->
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/main.css">    

    <title>Cats</title>

</head>

<body>

    <br>
    <br>
    <br>

    <header class="site-header">
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand titlefont mr-4" href="/">forums</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarToggle">

                    <!-- Navbar Left Side -->
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link" href="/forums">Forums</a>
                        <a class="nav-item nav-link" href="/about">About</a>
                    </div>

                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                    <!--
                        <div class="collapse navbar-collapse" id="navbarToggle">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-item nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                        <a class="dropdown-item" href="#">My account</a>
                                        <a class="dropdown-item" href="#">Admin Page</a>
                                        <a class="dropdown-item" href="#">Change password</a>
                                        <div class="dropdown-divider"></div> 
                                        <a class="dropdown-item" href="#">Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    -->
                        <a class="nav-item nav-link" href="#">Login</a>
                        <a class="nav-item nav-link" href="#">Register</a>
                    </div>

                </div>
            </div>
        </nav>
        <div class="the-blur"></div>

    </header>
    
    <br>
    
    <main role="main" class="container align-middle">
        
        <div class="row">
            <div class="col-sm">
                <img src="assets/article-cat.jpg" width="400px" alt="image" />
            </div>
            <div class="col-sm">
                <table>
                    <tr>
                        <td>
                            <p style="font-size: 25px"><b>Cats</b></p>
                            <br />
                            <p>
                                <b>Cats</b> are hilarious. I absolutely love
                                cats. They do the cutest, sweetest things
                                you can imagine, and they can really lower
                                their humans' stress levels. Nothing beats
                                coming home after a challenging day and
                                watching your <b>cat</b> romp around after
                                his toys, acting like a clown.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>Here's why Cats are awesome</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <ol class="b"style="text-align: left; margin-left: 15%">
                                <li>Cats are funny</li>
                                <li>Cats are independent</li>
                                <li>Cats help keep your house bug and rodent free</li>
                                <li>Cats are quiet</li>
                                <li>Cats purr</li>
                            </ol>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p>
                                Thank you for coming to my TedTalk!
                                <br /><br />
                                -Cat_user
                            </p>
                        </td>
                    </tr>
                </table>

            </div>
        </div>

    </main>    
        
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
