<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google font Audiowide -->
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/main.css">    
    
    <title>Forums</title>

</head>

<body>

    <br>
    <br>
    <br>

    <header class="site-header">

        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand titlefont mr-4" href="/">forums</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarToggle">

                    <!-- Navbar Left Side -->
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link" href="/forums">Forums</a>
                        <a class="nav-item nav-link" href="/about">About</a>
                    </div>

                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                    <!--
                        <div class="collapse navbar-collapse" id="navbarToggle">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-item nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                        <a class="dropdown-item" href="#">My account</a>
                                        <a class="dropdown-item" href="#">Admin Page</a>
                                        <a class="dropdown-item" href="#">Change password</a>
                                        <div class="dropdown-divider"></div> 
                                        <a class="dropdown-item" href="#">Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    -->
                        <a class="nav-item nav-link" href="#">Login</a>
                        <a class="nav-item nav-link" href="#">Register</a>
                    </div>

                </div>
            </div>
        </nav>
        <div class="the-blur"></div>

    </header>

    <main role="main" class="container">

        <div style="color:#ea2088; font-style: bold; font-size: 2rem;">Main Forums</div>
        <table class="table table-css">
            <thead class="thead-inverse">
                <tr>
                    <th width="45%" class="align-middle">Forum Name</th>
                    <th width="10%" class="align-middle">Posts</th>
                    <th width="10%" class="align-middle">Threads</th>
                    <th width="35%" class="align-middle">Last Post</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <a href="#">Welcome</a>
                        <small class="fal d-block">Welcome to the forums</small>
                    </td>
                    <td class="align-middle">17</td>
                    <td class="align-middle">2</td>
                    <td class="">
                        <small>
                            <a href="#"> 
                                Re: Welcome
                            </a> <br />
                            Thank you for inviting me, I hope to be...<br />
                            By <a href="#">user2</a> at 20-Sep-2020
                        </small>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="/article">Cats</a>
                        <small class="fal d-block">Welcome to the forums</small>
                    </td>
                    <td class="align-middle">17</td>
                    <td class="align-middle">2</td>
                    <td class="">
                        <small>
                            <a href="#"> 
                                Re: Cats
                            </a> <br />
                            <b>Cats</b> are hilarious. I absolutely lov...<br />
                            By <a href="#">Cat_user</a> at 20-Sep-2020
                        </small>
                    </td>
                </tr>

                <tr>
                    <td>
                        <a href="/post">Media tags</a>
                        <small class="fal d-block">Welcome to the forums</small>
                    </td>
                    <td class="align-middle">17</td>
                    <td class="align-middle">2</td>
                    <td class="">
                        <small>
                            <a href="#"> 
                                Re: Media 
                            </a> <br />
                            Shows media tags...<br />
                            By <a href="#">media_man</a> at 06-Oct-2020
                        </small>
                    </td>
                </tr>
            </tbody>
        </table>

    </main>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
