<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Google font Audiowide -->
    <link href='https://fonts.googleapis.com/css?family=Audiowide' rel='stylesheet'>
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="css/main.css">    
    
    <title>Media Tags</title>

</head>
<body>

    <br>
    <br>
    <br>

    <header class="site-header">
        
        <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
            <div class="container">
                <a class="navbar-brand titlefont mr-4" href="/">forums</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarToggle">

                    <!-- Navbar Left Side -->
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link" href="/">Home</a>
                        <a class="nav-item nav-link" href="/forums">Forums</a>
                        <a class="nav-item nav-link" href="/about">About</a>
                    </div>

                    <!-- Navbar Right Side -->
                    <div class="navbar-nav">
                    <!--
                        <div class="collapse navbar-collapse" id="navbarToggle">
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-item nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ request.user.username }}</a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userMenu">
                                        <a class="dropdown-item" href="#">My account</a>
                                        <a class="dropdown-item" href="#">Admin Page</a>
                                        <a class="dropdown-item" href="#">Change password</a>
                                        <div class="dropdown-divider"></div> 
                                        <a class="dropdown-item" href="#">Log out</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    -->
                        <a class="nav-item nav-link" href="#">Login</a>
                        <a class="nav-item nav-link" href="#">Register</a>
                    </div>

                </div>
            </div>
        </nav>
        <div class="the-blur"></div>

    </header>

    <main role="main" class="container align-middle">

        <div class="title">
            <h1 style="font-family: Audiowide">Media Tags</h1>
        </div>
        <br />
        <table class="table table-css">
            <thead class="thead-inverse">
                <tr>
                    <th style="width: 40%" class="align-middle">What tag is being used</th>
                    <th style="width: 60%" class="align-middle">Implementation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        iFrame is being used
                    </td>
                    <td>
                        <br />
                        <iframe
                            width="560"
                            height="315"
                            src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                            frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                        ></iframe>
                    </td>
                </tr>
                <tr>
                    <td>
                        Embed is being used
                    </td>
                    <td>
                        <br />
                        <embed
                            style="width:560px; height:315px;""
                            src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                        ></embed>
                    </td>
                </tr>
                <tr>
                    <td>
                        Object is being used
                    </td>
                    <td>
                        <br />
                        <object
                            style="width:560px; height:315px;""
                            data="https://www.youtube.com/embed/dQw4w9WgXcQ"
                        ></object>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <br /> 
        <a href="/forums"> 
            <button type="submit" class="ghost-blue">Go Back</button>
        </a>     
        <br><br>

    </main>    
        
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>
